<!DOCTYPE html>

{% load static %}

{% load markdownify %}
<!-- ask about markdownify -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static '/style.css' %}">

    <title>Question Box App</title>
</head>

<header>
    <h1 class='appTitle'>Question Box App</h1>
</header>

{% block content %}
{% endblock %}

<body>
<h2>Site Navigation</h2>
    <nav>
        <ul>
            <li><a href="{% url 'landingpage' %}">Home</a></li>
            <li><a href="{% url 'question_list' %}">Question List</a></li>
            <li><a href="{% url 'question_create' %}">Ask A Question</a></li>
            <li><a href="{% url 'question_search' %}">Search Questions</a></li>
            <li><a href="{% url 'answer_list' %}">Answer List</a></li>
            <li><a href="{% url 'answer_create' %}">Answer A Question</a></li>
            <li><a href="{% url 'answer_search' %}">Search Answers</a></li>
        </ul>
    </nav>
    </p>
    <p><h2>Access Your Account<h2></p>
    <button id='loginbutton'><a href="{% url 'auth_login' %}">Login</a></button>
    <button id='logoutbutton'><a href="{% url 'auth_logout' %}">Logout</a></button>
    <!-- look at redirect or a url for user profile -->

    {% if user.is_superuser %}
    <form>
        <button type='submit' formaction="http://127.0.0.1:8000/admin/">Admin</button>
    </form>
    {% endif %}


</body>


</html>